<div class="container">
    <h1 class="title is-2" style="margin-left:10px;">New Article</h1>

    <%= render 'form', article: @article %>
    <div class="">
        <%= link_to 'Back', articles_path , class:"button is-light", style:"margin-left:10px;"%>
    </div>
</div>
