<div class="container is-widescreen">
    <section class="hero is-light" style="margin-bottom:20px;">
  <div class="hero-body">
    <div class="columns is-centered">
      <p class="title is-1 ">
        Editing User
      </p>
    </div>
  </div>
</section>
</div>

<%= render 'form', user: @user %>

