<div class="container">
    <section class="hero is-light" style="margin-bottom:20px;">
  <div class="hero-body">
    <div class="columns is-centered">
      <h1 class="title  ">
        New User
      </h1>
    </div>
  </div>
</section>
</div>
<%= render 'form', user: @user %>

