<footer class="footer is-dark">
    <div class="content has-text-centered has-text-white">
        <p>
            <strong class="has-text-white">Rails-Blog</strong> by <a href="https://github.com/RezaMrtz">Reza Mortezaie</a>. The source code is
            licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
            <ul class="content" id="list">
                <li><%= link_to "Articles", articles_path %></li>
                <li><%= link_to "About", about_path %></li>
            </ul>    
        </p>
    </div>
</footer>